* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  align-items: center;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  height: 636px;
  justify-content: center;
}

.login-name {
  display: flex;
}

.trybe {
  color: blue;
  font-size: 50px;
  margin-right: 5px;
}

.wallet {
  color: white;
  font-size: 50px;
}

.login-form {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: center;
  margin-top: 10px;
  width: 300px;
}

.login {
  font-size: 20px;
}

.login-input {
  margin: 10px;
}

.login-button {
  height: 30px;
  width: 80px;
}

.header-wallet {
  background-color: lightskyblue;
  border: 2px solid black;
  padding: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-email {
  margin: 10px;
}

.header-total {
  display: flex;
  margin: 10px;
}

.number {
  margin-right: 5px;
}

.wallet-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.wallet-form {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.wallet-button {
  padding: 5px;
}

.table-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.table-unit {
  padding: 5px 2px;
  text-align: center;
}

.table-edit {
  background-color: green;
  color: white;
  margin: 2px;
  padding: 2px;
}

.table-delete {
  background-color: red;
  color: white;
  margin: 2px;
  padding: 2px;
}
